azure-identity
pyyaml
pyarrow
pandas
numpy
pandas
phdi_building_blocks @ git+https://github.com/CDCgov/prime-public-health-data-infrastructure@dan/add-progress-bar-to-schema-notebook#subdirectory=src/lib/phdi-building-blocks
